In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [116]:
df = pd.read_csv('movie_details5000.csv')
df['Title'] = df['Title'].str.strip(7)
df.head()

,Title,Release,Theater counts:,Opening Weekend:,Worldwide Box Office
0,NaN,"December 18th, 2009","3,452","$77,025,481","$2,923,706,026"
1,NaN,"April 26th, 2019","4,662","$357,115,007","$2,748,242,781"
2,NaN,"December 16th, 2022","4,202","$134,100,226","$2,317,514,386"
3,NaN,"December 19th, 1997","2,674","$28,638,131","$2,223,048,786"
4,NaN,"December 18th, 2015","4,134","$247,966,675","$2,064,615,817"

In [57]:
df1 = pd.read_csv('new_data.csv')
df2 = pd.read_csv('data_joined.csv')
merged_df = pd.merge(df1, df2, on='Title')
drop_columns = ['Rating', 'Rating_Count', 'Keywords', 'Release', 'Movie_ID', 'Filming_Location', 'Worldwide Box Office']
merged_df.drop(drop_columns, axis=1, inplace=True)
merged_df.to_csv('final_data.csv', index=False)

In [121]:
df = pd.read_csv('final_data.csv')
df.dropna(subset=['Gross_worldwide'], inplace=True)
df.reset_index(drop=True, inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3550 entries, 0 to 3549
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Title              3550 non-null   object
 1   Theater counts     2763 non-null   object
 2   Opening Weekend    3310 non-null   object
 3   Budget             3242 non-null   object
 4   Cast               3549 non-null   object
 5   Crew               3549 non-null   object
 6   Studios            3548 non-null   object
 7   Genre              3301 non-null   object
 8   Languages          3548 non-null   object
 9   Countries          3549 non-null   object
 10  Release_Data       3550 non-null   object
 11  Runtime            3550 non-null   object
 12  Gross_worldwide    3550 non-null   object
 13  ListOfCertificate  3458 non-null   object
dtypes: object(14)
memory usage: 388.4+ KB

In [153]:
def parse_currency(before_parsed):
    if type(before_parsed) == float:
        return np.nan
    if '$' in before_parsed:
        after_parsed = int(before_parsed.strip('$').replace(',', ""))
    else:
        after_parsed = int(int(before_parsed.strip('â‚¬').replace(',', "")) * 1.14)
    return after_parsed

In [123]:
df.isnull().sum()
df['ListOfCertificate'] = df['ListOfCertificate'].fillna("G")
df['Theater counts'] = df['Theater counts'].str.replace(',', '')
df['Theater counts'] = pd.to_numeric(df['Theater counts'], errors='coerce')
df['Theater counts'] = df['Theater counts'].fillna(df['Theater counts'].median())
df['Theater counts'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 3550 entries, 0 to 3549
Series name: Theater counts
Non-Null Count  Dtype
--------------  -----
3550 non-null   float64
dtypes: float64(1)
memory usage: 27.9 KB

In [128]:
df.head(5)

,Title,Theater counts,Opening Weekend,Budget,Cast,Crew,Studios,Genre,Languages,Countries,Release_Data,Runtime,Gross_worldwide,ListOfCertificate
0,Avatar,3452.0,"$77,025,481","$237,000,000","Sam Worthington,Zoe Saldana,Sigourney Weaver,M...",James Cameron,"Twentieth Century Fox,Dune Entertainment,Light...","Action,Adventure,Fantasy,Sci-Fi","English,Spanish",United States,2009-12-18,2 hours 42 minutes,2847246203,PG-13
1,Avengers: Endgame,4662.0,"$357,115,007","$356,000,000","Robert Downey Jr.,Chris Evans,Mark Ruffalo,Chr...","Stan Lee,Joe Russo,Christopher Markus,Stephen ...","Marvel Studios,Walt Disney Pictures","Action,Adventure,Drama,Sci-Fi","English,Japanese,Xhosa,German",United States,2019-04-26,3 hours 1 minute,2797501328,PG-13
2,Titanic,2674.0,"$28,638,131","$200,000,000","Leonardo DiCaprio,Kate Winslet,Billy Zane,Kath...",James Cameron,"Twentieth Century Fox,Paramount Pictures,Light...","Drama,Romance","English,Swedish,Italian,French","United States,Mexico,Australia",1997-12-18,3 hours 14 minutes,2201647264,PG-13
3,Avengers: Infinity War,4474.0,"$257,698,183","$321,000,000","Robert Downey Jr.,Chris Hemsworth,Mark Ruffalo...","Stan Lee,Joe Russo,Christopher Markus,Stephen ...","Marvel Studios,Jason Roberts Productions,South...","Action,Adventure,Sci-Fi",English,United States,2018-04-25,2 hours 29 minutes,2048359754,PG-13
4,Jurassic World,4274.0,"$208,806,270","$150,000,000","Chris Pratt,Bryce Dallas Howard,Ty Simpkins,Ju...","Colin Trevorrow,Amanda Silver,Rick Jaffa","Universal Pictures,Amblin Entertainment,Legend...","Action,Adventure,Sci-Fi",English,United States,2015-06-12,2 hours 4 minutes,1670516444,PG-13

In [141]:
df['Gross_worldwide'] = df['Gross_worldwide'].apply(parse_currency)

TypeError: argument of type 'int' is not iterable

In [154]:

df['Opening Weekend'] = df['Opening Weekend'].apply(parse_currency)

nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan

In [155]:
df['Budget'] = df['Budget'].apply(parse_currency)

In [158]:
df['Opening Weekend'] = df['Opening Weekend'].fillna(df['Opening Weekend'].median())
df['Budget'] = df['Budget'].fillna(df['Budget'].median())

In [162]:
df.fillna('', inplace=True)
df.info()
df.head(5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3550 entries, 0 to 3549
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Title              3550 non-null   object
 1   Theater counts     3550 non-null   float64
 2   Opening Weekend    3550 non-null   float64
 3   Budget             3550 non-null   float64
 4   Cast               3550 non-null   object
 5   Crew               3550 non-null   object
 6   Studios            3550 non-null   object
 7   Genre              3550 non-null   object
 8   Languages          3550 non-null   object
 9   Countries          3550 non-null   object
 10  Release_Data       3550 non-null   object
 11  Runtime            3550 non-null   object
 12  Gross_worldwide    3550 non-null   int64
 13  ListOfCertificate  3550 non-null   object
dtypes: float64(3), int64(1), object(10)
memory usage: 388.4+ KB

,Title,Theater counts,Opening Weekend,Budget,Cast,Crew,Studios,Genre,Languages,Countries,Release_Data,Runtime,Gross_worldwide,ListOfCertificate
0,Avatar,3452.0,77025481.0,237000000.0,"Sam Worthington,Zoe Saldana,Sigourney Weaver,M...",James Cameron,"Twentieth Century Fox,Dune Entertainment,Light...","Action,Adventure,Fantasy,Sci-Fi","English,Spanish",United States,2009-12-18,2 hours 42 minutes,2847246203,PG-13
1,Avengers: Endgame,4662.0,357115007.0,356000000.0,"Robert Downey Jr.,Chris Evans,Mark Ruffalo,Chr...","Stan Lee,Joe Russo,Christopher Markus,Stephen ...","Marvel Studios,Walt Disney Pictures","Action,Adventure,Drama,Sci-Fi","English,Japanese,Xhosa,German",United States,2019-04-26,3 hours 1 minute,2797501328,PG-13
2,Titanic,2674.0,28638131.0,200000000.0,"Leonardo DiCaprio,Kate Winslet,Billy Zane,Kath...",James Cameron,"Twentieth Century Fox,Paramount Pictures,Light...","Drama,Romance","English,Swedish,Italian,French","United States,Mexico,Australia",1997-12-18,3 hours 14 minutes,2201647264,PG-13
3,Avengers: Infinity War,4474.0,257698183.0,321000000.0,"Robert Downey Jr.,Chris Hemsworth,Mark Ruffalo...","Stan Lee,Joe Russo,Christopher Markus,Stephen ...","Marvel Studios,Jason Roberts Productions,South...","Action,Adventure,Sci-Fi",English,United States,2018-04-25,2 hours 29 minutes,2048359754,PG-13
4,Jurassic World,4274.0,208806270.0,150000000.0,"Chris Pratt,Bryce Dallas Howard,Ty Simpkins,Ju...","Colin Trevorrow,Amanda Silver,Rick Jaffa","Universal Pictures,Amblin Entertainment,Legend...","Action,Adventure,Sci-Fi",English,United States,2015-06-12,2 hours 4 minutes,1670516444,PG-13

In [163]:
def convertTime(time):
    time = str(time)
    time = time.replace(" ", "")
    if "hour" in time:
        hours = 0
        if "hours" in time:
            hours = int(time[0]) * 60
            after_eliminate_hour = time.replace("hours", "")
        else:
            hours = 60
            after_eliminate_hour = time.replace("hour", "")
        minutes = 0
        if "minute" in after_eliminate_hour:
            if "minutes" in after_eliminate_hour:
                minutes = int(after_eliminate_hour.replace("minutes", "")[1:])
            else:
                minutes = 1
        return int(hours) + int(minutes)
    else:
        return int(time.replace("minutes", ""))

In [176]:
df['Runtime'] = df['Runtime'].apply(convertTime)
df.head(5)

,Title,Theater counts,Opening Weekend,Budget,Cast,Crew,Studios,Genre,Languages,Countries,Release_Data,Runtime,Gross_worldwide,ListOfCertificate,Release_Year,Release_Month,Release_Day
0,Avatar,3452.0,77025481.0,237000000.0,"[Sam Worthington, Zoe Saldana, Sigourney Weave...",[James Cameron],"[Twentieth Century Fox, Dune Entertainment, Li...","[Action, Adventure, Fantasy, Sci-Fi]","[English, Spanish]",[United States],2009-12-18,162,2847246203,[PG-13],2009,12,18
1,Avengers: Endgame,4662.0,357115007.0,356000000.0,"[Robert Downey Jr., Chris Evans, Mark Ruffalo,...","[Stan Lee, Joe Russo, Christopher Markus, Step...","[Marvel Studios, Walt Disney Pictures]","[Action, Adventure, Drama, Sci-Fi]","[English, Japanese, Xhosa, German]",[United States],2019-04-26,181,2797501328,[PG-13],2019,4,26
2,Titanic,2674.0,28638131.0,200000000.0,"[Leonardo DiCaprio, Kate Winslet, Billy Zane, ...",[James Cameron],"[Twentieth Century Fox, Paramount Pictures, Li...","[Drama, Romance]","[English, Swedish, Italian, French]","[United States, Mexico, Australia]",1997-12-18,194,2201647264,[PG-13],1997,12,18
3,Avengers: Infinity War,4474.0,257698183.0,321000000.0,"[Robert Downey Jr., Chris Hemsworth, Mark Ruff...","[Stan Lee, Joe Russo, Christopher Markus, Step...","[Marvel Studios, Jason Roberts Productions, So...","[Action, Adventure, Sci-Fi]",[English],[United States],2018-04-25,149,2048359754,[PG-13],2018,4,25
4,Jurassic World,4274.0,208806270.0,150000000.0,"[Chris Pratt, Bryce Dallas Howard, Ty Simpkins...","[Colin Trevorrow, Amanda Silver, Rick Jaffa]","[Universal Pictures, Amblin Entertainment, Leg...","[Action, Adventure, Sci-Fi]",[English],[United States],2015-06-12,124,1670516444,[PG-13],2015,6,12

In [169]:
def parse_multi_value(field_value):
    array_value = field_value.split(',')
    if '' in array_value:
        return []
    return array_value

In [172]:
cols = ['Cast', 'Genre', 'Studios', 'ListOfCertificate', 'Languages', 'Countries', 'Crew']
for col in cols:
    df[col] = df[col].apply(parse_multi_value)

In [175]:
df['Release_Data'] = pd.to_datetime(df['Release_Data'], format='%Y-%m-%d')
df['Release_Year'] = df['Release_Data'].apply(lambda x: x.year)
df['Release_Month'] = df['Release_Data'].apply(lambda x: x.month)
df['Release_Day'] = df['Release_Data'].apply(lambda x: x.day)

In [177]:
df.to_csv('cleaning_data.csv')