In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import ast
from collections import Counter
import seaborn as sns

In [4]:
df = pd.read_csv('cleaning_data.csv')
df.drop('No', axis=1, inplace=True)
df.head(2)

,Title,Theater counts,Opening Weekend,Budget,Cast,Crew,Studios,Genre,Languages,Countries,Release_Data,Runtime,Gross_worldwide,Rating,ListOfCertificate,Release_Year,Release_Month,Release_Day
0,Avatar,3452,77025481,237000000,"['Sam Worthington', 'Zoe Saldana', 'Sigourney ...",['James Cameron'],"['Twentieth Century Fox', 'Dune Entertainment'...","['Action', 'Adventure', 'Fantasy', 'Sci-Fi']","['English', 'Spanish']",['United States'],2009-12-18,162,2847246203,7.8,['PG-13'],2009,12,18
1,Avengers: Endgame,4662,357115007,356000000,"['Robert Downey Jr.', 'Chris Evans', 'Mark Ruf...","['Stan Lee', 'Joe Russo', 'Christopher Markus']","['Marvel Studios', 'Walt Disney Pictures']","['Action', 'Adventure', 'Drama', 'Sci-Fi']","['English', 'Japanese', 'Xhosa', 'German']",['United States'],2019-04-26,181,2797501328,8.4,['PG-13'],2019,4,26

In [15]:
df.shape

(3550, 18)